doctype html
html
  head
    title="Freestlye"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul 
      li.navlink
        a(href="/")|Home
      li.navlink
        a(href="/freestyle")|Freestyle
      li.navlink
        a(href="/explore")|Explore
      li.navlink
        a(href="/about")|About Us
    img(src="/images/mp.jpg", alt="mpeezy", srcset="", class="mp")
    block content
